.App {
  text-align: center;
}

.Gear-logo {
  animation: Gear-logo-spin infinite 75s linear;
  height: 40vmin;
  pointer-events: none;
  margin-top: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  margin-top: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tile-text {
  font-size: 2.2em;
  font-style: italic;
  font-weight: 700;
  /* position: absolute;
  z-index: 4; */
  margin-top: 1em;
  text-shadow: 4px 4px #282c34;
}

.title-unit {
  position: absolute;
  z-index: 4;
  margin-top: 5vh;
}

.title-conversion {
  position: absolute;
  z-index: 4;
  margin-top: 10vh;
}


.under {
  position: absolute;
  z-index: 2;
  margin-top: 2vh;
}

.over {
  position: absolute;  
  z-index: 3;
  margin-top: 2vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Gear-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
